body {
  background-color: #333;
  font-family: sans-serif;
  color: #ccc;
  a {
    text-decoration: none;

    color: rgb(209, 168, 85);
  }
  nav {
    background-color: #222;
    padding: 0.5rem;

    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;
    }

    a.active {
      color: rgb(211, 211, 110);
    }
  }
  .pageWelcome {
    text-align: center;
    p:first-child {
      font-size: 2rem;
      color: gold;
    }
    p:nth-child(2) {
      color: red;
    }
  }
  .pageJobs {
    .jobs {
      .job {
        background-color: #222;
        padding: 0.1rem 0.5rem;
        margin-bottom: 1rem;

        div {
          margin-bottom: 0.5rem;
        }

        .title {
          a {
            color: rgb(176, 146, 91);
            font-size: 1.5rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .company {
          color: rgb(208, 208, 114);
        }

        .description {
          font-style: italic;
          color: #999;
        }

        .skills {
          .skill {
            font-family: "Courier New", Courier, monospace;
          }
          .found {
            color: green;
            background-color: rgb(6, 39, 6);

            a {
              color: rgb(114, 208, 114);
              text-decoration: underline;
            }
          }
          .missing {
            color: red;
            display: flex;
            align-items: end;
            background-color: rgb(50, 6, 6);

            a {
              color: rgb(210, 77, 77);
              text-decoration: underline;
            }
          }
          .name {
            margin: 0;
            padding: 5px;
          }
        }

        .todo {
          color: yellow;
          background-color: #111;
          padding: 0.4rem;
          font-family: "Courier New", Courier, monospace;
          display: inline-block;
          border-radius: 0.4rem;
        }
      }
    }
  }
  .pageJobsLowdb {
    .jobs {
      .job {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            margin-right: 1rem;
            background-color: none;
            font-size: 1.2rem;
            font-weight: bold;
            color: rgb(185, 63, 63);
            border: none;
            background: none;
            &:hover {
              color: lighten(red, 10%);
              transform: scale(1.2);
              cursor: pointer;
            }
          }
          a {
            color: rgb(176, 146, 91);
            font-size: 1.5rem;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .pageSkills {
    word-break: break-word;
    white-space: pre-wrap;
    margin-top: 1rem;
    .skills {
      .skill {
        background-color: #222;
        padding: 0.5rem;
        margin-bottom: 1rem;
        .skillName {
          color: tomato;
        }
        a {
          color: rgb(239, 239, 97);
        }
      }
    }
  }
  .pageDashboard {
    h2 {
      padding: 0 0.5rem;
    }
    ul {
      li {
        a {
          color: greenyellow;
          text-decoration: underline;
        }
      }
    }
  }
}
